.repository {
  
  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
    color: $second-font-color;
  }
  &__description {
    margin: 0;
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 100px;
  }
  &__lang {
    display: flex;
    gap: 5px;
  }
  &__lang-circle {
    width: 15px;
    height: 15px;
  }
  &__lang-text {
    margin: 0;
  }
  &__star {
    font-weight: 700;
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      background-image: url('../img/star.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}