@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './style/variables.scss';
@import './style/vendor.scss';


@import "./style/app.scss";
@import "./style/header.scss";
@import "./style/search.scss";
